/* * {
    margin: 0 !important;
} */

/* body */
body {
    background: #f6f6f6;
    font-family: "Open Sans";
}
html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
h1, h2, h3, button {
    font-family: "Montserrat";
    font-weight: bold;
}
.h1-lg {
    font-size: 32px;
}
.h1-sm {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h2-lg {
    font-size: 22px;
}
.h2-sm {
    font-size: 14px;
}
label {
    font-family: "Montserrat";
    font-weight: 600; /*semi-bold*/ 
}
#app {
    height: inherit;
    width: inherit;
}
input {
    font-family: "Open Sans";
}
.btn-lg {
    font-size: 18px;
}
.btn-sm {
    font-size: 12px;
}
.back-label-lg {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600; /*semi-bold*/ 
}

/* header */
header {
    background: #FFFFFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-header {
    width: 70%;
    display:flex;
    align-items: center;
}
.nav-header img {
    max-width: 60px;
    padding: 0 20px 0 0
}
.nav-header a {
    padding: 20px;
    color: #4A4B4C;
    text-decoration: none;
    font-size: 18px;
}
.nav-header a.router-link-active {
    color: #000000;
    font-weight: bold;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-footer {
    display:flex;
    align-items: center;
}
.nav-footer a {
    padding: 0 20px;
    color: #4A4B4C;
    text-decoration: none;
}
.btn-home {
    content:url("./ic_mobile_navigarion_home@3x.png")
}
a.router-link-exact-active .btn-home {
    content:url("./ic_mobile_navigarion_home_active@3x.png")
}
.btn-about {
    content:url("./ic_mobile_navigarion_info@3x.png")
}
a.router-link-exact-active .btn-about {
    content:url("./ic_mobile_navigarion_info_active@3x.png")
}
.nav-footer img {
    max-width: 40px;
    margin: 0 100px;
}
.btn-home {
    float: left;
}
.btn-about {
    float: right;
}

/* house listing */
.houses {
    margin: auto;
    width: 70%;
}
/* .h1-sm {
    text-align: center;
} */
button {
    /* float: right; */
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
}
.button-right, .button-left, .button-right-sm, .button-left-sm {
    float: right; 
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: relative;
}
.container h1 {
    margin: 0;
}
.container .h1-sm {
    margin: auto
}
.container .create-button {
    padding: 7px 15px;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: #EB5440;
}
.create-button-sm img {
    max-width: 20px;
}
.btn-group button {
    padding: 5px 30px;
    background-color: #c3c3c3;
}
.btn-group-sm {
    width: 100%
}
.btn-group-sm button {
    padding: 5px 30px;
    background-color: #c3c3c3;
    width: 50%
}
.button-right.active,
.button-left.active {
  background-color: #eb5440;
}
.button-right-sm.active,
.button-left-sm.active {
  background-color: #eb5440;
}
.btn-group .button-right {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.btn-group .button-left {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.btn-group-sm .button-right-sm {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.btn-group-sm .button-left-sm {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.input-field-container {
    position: relative;
    width: 40%;
}
.input-field {
    border-radius: 7px;
    width: 100%;
    padding: 5px 0 5px 30px;
    background-color: #E8E8E8;
    border: none;
    color: #4A4B4C;
    outline: none;
    
}
.search-button {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    padding: 0;
}
.search-button img {
    width: 15px;
    height: 15px;
}
.clear-button {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    padding: 0;
}
.clear-button img {
    width: 15px;
    height: 15px;
}
.house {
    position: relative; 
    margin-bottom: 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(104, 103, 103, 0.315), 0 6px 8px 0 rgba(83, 82, 82, 0.19);
}
.filtered-house a {
    text-decoration: none;
    color:#000000
}
.edit-button img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 20px;
}
.edit-button-sm img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 30px 15px 0 0;
    height: 20px;
}
.delete-button img {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    height: 20px;
}
.delete-button-sm img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 30px 15px 0 0;
    height: 20px;
}
.house-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}
.input-field {
    border-radius: 7px;
    width: 75%;
    padding: 12px 0 12px 30px;
    background-color: #E8E8E8;
    border: none;
    color: #4A4B4C;
    outline: none;
}
.house-info {
    display: flex;
    align-items: center;
}
.info {
    margin-left: 20px;
}
.info img {
    width: 10px;
    height: 10px;
}
.house-info .house-image {
    width: 130px;
    height: 130px;
    border-radius: 7px;
    margin-left: 10px;
}

/* house details */
.house-details {
    margin: auto;
    width: 70%;
}
.wrapper-house-details {
    display: flex;
    align-items: center;
}
.wrapper-house-details h3 {
    font-size: 16px;
}
.wrapper-house-card {
    display: flex;
}
.back-button-sm {
    float: left;
}
.back-button img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 20px;
}
.back-button-sm img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 30px 0 0 15px;
    height: 20px;
    /* margin-top: 30px; */
}
.house-card {
    width: 60%;
    margin: 0 30px 0 0;
    background-color: #FFFFFF;
}
.house-card-info-img-container {
    width: 600px;
    height: 300px;
}
.house-card-info-img-sm{
    width: 100%;
    height: 100%;
    margin-top: -60px;
    position: relative;
    z-index: -1;
}
.house-card-info-img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.house-card-text {
    position: relative; 
    padding: 10px;
}
.house-card-text-sm {
    background-color: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    margin-top: -40px;
    position: relative; 
    padding: 20px;
}
.house-card-text p img {
    height: 10px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.house-card-icons-sm{
    margin-left: -20px
}
.house-card-text-sm p img {
    height: 15px;
    background: none;
    border: none;
    padding: 0 3px 0 20px;
    margin:auto
}
.house-card-actions {
    position: absolute;
    top: 10%;
    right: 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.recommended {
    width: 40%;
    margin: -20px 0 0 30px;
}
.recommended-sm {
    width: 90%;
    margin: auto
}
.recommended-house {
    background-color: #FFFFFF;
    position: relative; 
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(104, 103, 103, 0.315), 0 6px 8px 0 rgba(83, 82, 82, 0.19);
}
.recommended-card-info {
    display: flex;
    align-items: center;
}
.recommended-card-text p, 
.recommended-card-text h3 {
    padding: 0 10px;
}
.recommended-card-text img {
    width: 10px;
    height: 10px;
} 
.recommended-card-info-img {
    width: 130px;
    height: 130px;
    border-radius: 15px;
    padding: 10px;
}

/* not found */
.no-results-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-results {
    width: 35%;
    text-align: center;
}
.no-results img {
    width: 220px;
    height: 110px;
}
.no-results p {
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500; /*medium*/ 
}

/* house-create, house-edit */
.background-wrapper {
    background-image: url("./img_background@3x.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.house-create,
.house-edit {
    margin: auto;
    width: 70%;
}
.house-create-wrapper,
.house-edit-wraper {
    width: 40%;
}
.house-create-wrapper p {
    font-size: 16px;
}
.house-edit-wraper p {
    font-size: 16px;
}
/* .house-create-wrapper-sm .h1-sm {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .submit-form-button {
    padding: 7px 15px;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: #EB5440;
    float: right;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    position:absolute;
    right: 9%;
} */
.submit-form-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
    width: 95%;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: #EB5440;
    cursor: pointer;
}
.submit-form-button-sm {
    padding: 7px 15px;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: #EB5440;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    position:absolute;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-size {
    width: 100%;
    margin-bottom: 10px;
    position:relative;
}
.full-size label{
    display:block
}
.full-size input, textarea{
    display:block;
    width: 90%;
    border-radius: 7px;
    background-color: #FFFFFF;
    border: none;
    color: #4A4B4C;
    outline: none;
    padding: 12px 20px;
}
.half-size {
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
}
.half-size label{
    display: block;
    width: 100%
}
.half-size select{
    display: block;
    width: 95%;
    border-radius: 7px;
    background-color: #FFFFFF;
    border: none;
    color: #4A4B4C;
    outline: none;
    padding: 12px 20px;
}
.half-size input{
    display: block;
    width: 80%;
    border-radius: 7px;
    background-color: #FFFFFF;
    border: none;
    color: #4A4B4C;
    outline: none;
    padding: 12px 20px;
}
input[type=file] {
    border-style: dashed;
    width: 150px;
    height: 150px;
    background-image: url("./ic_upload@3x.png");
    background-repeat: no-repeat;
    background-position: center;
}
.back-button {
    float: left;
}
.clear-button-white {
    position: absolute;
    top: 30px;
    left: 135px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    padding: 0;
}
.clear-button-white img {
    width: 30px;
    height: 30px;
}
form {
    position:relative;
}

/* modal */
.modal {
    width: 400px;
    padding: 50px;
    margin: 100px auto;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal h3,
.modal p   {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.backdrop {
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal button {
    padding: 7px 15px;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: 5px 0;
}
.modal-delete {
    background-color: #EB5440;
}
.modal-back {
    background-color: #4A4B4C;
}

/* about */
.about {
    margin: auto;
    width: 70%;
}
/*large*/
.about-logo{
    display: flex; align-items: center;
}
.about-logo img {
    width: 250px;
    padding-right: 15px;
}
.about-logo span {
    padding-left: 15px;
}
.about-logo span a {
    text-decoration: none;
}
/*small*/
/* .about .h1-sm {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .about-head-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
} */
.about-logo-sm{
    display: flex; align-items: center;
}
.about-logo-sm img {
    width: 150px;
    padding-right: 15px;
}
.about-logo-smspan {
    padding-left: 15px;
}
.about-logo-sm span a {
    text-decoration: none;
}