/* body */
body {
    background: #f6f6f6;
    font-family: "Montserrat";
}

/* header */
header {
    background: #FFFFFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    margin: auto;
    width: 70%;
}
nav img {
    max-width: 60px;
    padding: 0 20px 0 0
}
nav a {
    padding: 20px;
    color: #4A4B4C;
    text-decoration: none;
}
nav a.router-link-exact-active {
    color: #000000;
  }

/* house listing */
.houses {
    margin: auto;
    width: 70%;
}
button {
    float: right;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: relative;
}
.container h1 {
    margin: 0;
}
.container .create-button {
    padding: 7px 15px;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: #EB5440;
}
.btn-group button {
    padding: 5px 30px;
    background-color: #c3c3c3; /* Inactive color */
}
.button-right.active,
.button-left.active {
  background-color: #eb5440; /* Active color */
}
.btn-group .button-right {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.btn-group .button-left {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.input-field-container {
    position: relative;
    width: 40%;
  }

.input-field {
    border-radius: 7px;
    width: 100%;
    padding: 5px 0 5px 30px;
    background-color: #E8E8E8;
    border: none;
    color: #4A4B4C;
    outline: none;
}
.search-button {
    position: absolute;
    top: 50%;
    left: 5px; /* Adjust the positioning to match the original background image */
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    padding: 0;
}
.search-button img {
    width: 15px; /* Adjust the size of the button */
    height: 15px; /* Adjust the size of the button */
}
.clear-button {
    position: absolute;
    top: 50%;
    right: -20px; /* Adjust the positioning to match the original background image */
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    padding: 0;
}
.clear-button img {
    width: 15px; /* Adjust the size of the button */
    height: 15px; /* Adjust the size of the button */
}
.house {
    position: relative; 
    margin: auto;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(104, 103, 103, 0.315), 0 6px 8px 0 rgba(83, 82, 82, 0.19);
}
.filtered-house a {
    text-decoration: none;
    color:#000000
}
.edit-button img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 10px; /* Set the desired width for the small buttons */
    height: 10px; /* Set the desired height for the small buttons */
}
.delete-button img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 10px; /* Set the desired width for the small buttons */
    height: 10px; /* Set the desired height for the small buttons */
}
.house-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

/* house details */
.house-details {
    margin: auto;
    width: 70%;
}
.wrapper {
    display: flex;
    align-items: center;
}
.back-button img {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
}
.house-card {
    width: 70%;
    margin: 0 30px 0 0;
    background-color: #FFFFFF;

}
.house-card img {
    width: 100%;
}
.house-card-info {
    position: relative; 
}
.house-card-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -10px;
    margin-right: 10px;
}
.recommended {
    width: 30%;
    margin: 0 0 0 30px;
}

/* not found */
.no-results-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center */
    align-items: center; /* Horizontally center */
}
.no-results {
    width: 35%;
    text-align: center; /* Center text horizontally */
}
.no-results img {
    width: 220px;
    height: 110px;
}
.no-results p {
    font-size: 12px
}

/* footer */

/* warning */